<% include partials/header %>

<div class="ui main container segment">
  <div class="ui divided items">
    <% for (let i = 0; i < data.length; i++) { %>
    <div class="item">
      <div class="ui medium image">
        <img src="<%= data[i].urlToImage %>">
      </div>
      <div class="ui middle aligned content">
        <a href="<%= data[i].url %>" class="header"><%= data[i].title %></a>
        <div class="meta">
          <span><%= data[i].publishedAt %></span>
        </div>
        <div class="description">
          <p><%= data[i].description %></p>
        </div>
        <a class="ui right floated primary button" href="<%= data[i].url %>">
          Find Out More
          <i class="right chevron icon"></i>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% include partials/footer %>