<% include partials/header %>

<div class="article">
  <a href="/">Go Back</a>
  <% for (let i = 0; i < data.articles.length; i++) { %>
  <div class="news">
    <li>
      <h2><%= data.articles[i].title %></h2>
      <p><%= data.articles[i].publishedAt %></p>
      <p><%= data.articles[i].description %></p>
      <a href="<%= data.articles[i].url %>">Find Out More</a>
      <img src="<%= data.articles[i].urlToImage %>">
    </li>
  </div>
  <% } %>
</div>

<% include partials/footer %>