<% include partials/header %>

<div class="search-bar">
  <input class="search-text" type="text" placeholder="Search your Sources">
</div>

<div class="sources">
  <div class="ui cards">
    <% for (let i = 0; i < data.sources.length; i ++) { %>
    <div id="source-card" class="card">
      <div class="content">
        <div class="header">
          <h2 class="source-name"><%= data.sources[i].name %></h2>
        </div>
        <div class="meta">
          <%= data.sources[i].category %>
        </div>
        <div class="description">
          <p><%= data.sources[i].description %></p>
        </div>
      </div>
      <div class="ui bottom attached button">
        <a href="<%= data.sources[i].url %>">Go to <%= data.sources[i].name %></a>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% include partials/footer %>