<% include partials/header %>

<div class="articles">
  <a href="/">Go Back</a>
  <% for (let i = 0; i < data.articles.length; i++) { %>
  <div class="top">
    <li>
      <h2><%= data.articles[i].title %></h2>
      <p><%= data.articles[i].publishedAt %></p>
      <p><%= data.articles[i].description %></p>
      <img src="<%= data.articles[i].urlToImage %>">
      <p><%= data.articles[i].content %></p>
    </li>
  </div>
  <% } %>
</div>

<% include partials/footer %>